.cad_item{
    margin: 200px;
    border: 5px solid black;
    background-color: seagreen;
    height: 550px;
    width: 700px;
    margin-top: 150px;
    margin-left: 350px;
    margin-right: 600px;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    font-family:sans-serif;
}

.cad_item input{
    border: 2px solid black;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 20px;
}

.cad_item select{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 20px;
}

.cad_item Button{
    border: 3px solid black;
    background-color: rgb(42, 126, 98);
    padding: 20px;
    margin: 30px;
}
