.navbar{
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #0c8063;
    padding: 1em;
    margin-top: -450px;
    width: 1860px;
    height: 120px;
}

/* REGRA DA LISTA DE LIVROS */
.list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

/* REGRAS DE LINKS */
.item{
    margin-right: 1em;
    color: #fff;
}